* {
    font-family: "Inter", sans-serif !important;
}

.pearstore {
    font-style: italic;
    font-weight: bolder;
    font-size: 40px !important;
    color: white !important;
    position: relative;
    right: 20px;
    cursor: pointer;
}

.searchbar {
    width: 50rem !important;
}

.navbar {
    background-color: #023020 !important;
}

.cartText {
    color: white;
    position: relative;
    left:7px;
}
